@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------------------------------------------------------- */
/* Css propreties oreder 

Layout --> display z-index position top right buttom left
Box Model --> width height padding margin border border-raduis
Typography --> font-family font-size font-weight line-height text-align
Visual --> color background box-shadow opacity
Effects --> transform transition animation

*/

/* ------------------------------------------------------------------------------- */
/* Content width is 100% 
Space --> Before and After each Element. 
2% for each Space (2 Elements).
3 Spaces 2% * 3 = 6% from Content width. (6% - 100% = 94%)
94% available width.
2 Elements width are: 97% / 2 = 48.5% 

width: calc(97% / 2);
margin-left 2%: 

*/

/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* #################### Design System  #################### 
 يساعدك في: إدارة الألوان
 التحكم في المسافات
 تقليل التكرار 
 تسهيل الصيانة
 بناء ثيمات   
*/

:root {
  /* Colors */
  --color-primary: #0F172A;
  --color-secondary: #3B82F6;
  --color-bg: #ffffff;
  --color-text: #1E293B;
  --color-white: #ffffff;
  --color-card: #bababa;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;

  /* Border Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* Typography */
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;

  /* Shadow */
  --shadow-sm: 0 2px 8px rgba(0,0,0,0.1);
  --shadow-md: 0 4px 16px rgba(0,0,0,0.8);
}

/* #################### General System  #################### */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.site {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
}

/* #################### Layout Patterns --> Container #################### */

.container {
  width:100%;
  max-width:1100px;  /* max display size: 0 to 1100px*/
  margin: 0 auto;  /* to center the content right + left only*/
  padding: 0 1rem;  /* starting + ending only: gap*/
}

/* ############################################################# */
/* ############################################################# */

.header { 
  height: 4.3rem;
  padding-top: 10px;
}

.header__inner { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;  
}

/* #################### Burger menu #################### */

.nav-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.bar {
  width: 25px;
  height: 3px;
  background: var(--color-primary);
  transition: 0.3s;
}

/* ###################### Nav ###################### */
/* القائمة (مخفية افتراضيًا) */
.nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: var(--color-primary);
  padding: 80px 20px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--color-card);
}

/* ###################### overlay ###################### */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

/* ############## الحالة المفتوحة (Active State) ############## */
/* #################### Patterns --> State Class Pattern #################### */
.nav.active {
  right: 0;
}

.nav.active:hover {
  color: var(--color-bg);
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* 
.nav.active --> (عنصر له كلاسين يكتب بدون مسافه بينهم)
استخدم
.nav.active
لما: تبغى تغير حالة نفس العنصر 
(open / close / visible / hidden)
هذا Pattern
أساسي في 
UI (State-based styling)
*/

/* ############ Animation احترافي للبرجر (يتحول X) ############ */

.nav-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
/* ################## تغير لون زر الخروج  X ########################## */

.nav-toggle.active .bar:nth-child(1),
.nav-toggle.active .bar:nth-child(3) {
  background: var(--color-bg);
}

/* ############################################################# */

/* عند فتح القائمة منع Scroll  */
.no-scroll {
  overflow: hidden;
}

/* ############################################################# */
/* ############################################################# */

main {
  border: 2px solid red; 
}

section {
  padding: 3rem 0;  /* top + bottom only: gap */
}

/* ############################################################# */

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  text-align: center;
}

.hero__title {
  font-size: var(--font-size-lg);
  font-weight: 800;
  color: var(--color-primary);
}

.hero__text {
  font-size: var(--font-size-md);
  color: var(--color-text);
}

.hero__text span {
  color: var(--color-secondary);
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.btn.btn-primary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: var(--space-sm) var(--space-lg);
  border: none;
  border-radius: var(--radius-md);
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s ease-in;
}
.btn.btn-primary:hover {
  transform: scale(1.1);
}


/* ############################################################# */
.services {
  border: 2px solid var(--color-secondary); 
}

/* ############################################################# */
.projects {
  border: 2px solid var(--color-secondary); 
}

/* ############################################################# */
.contact {
  border: 2px solid var(--color-secondary); 
}

/* ############################################################# */


footer {
  background-color: var(--color-bg);
  color: var(--color-text);
}


/* ############################################################# */
/* ############################################################# */

@media (min-width: 768px) {
 
  .nav {
  position: static;
  height: auto;
  width: auto;
  background: none;
  padding: 0;
  right: 0;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__link {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  transition: color 0.3s ease;
}

  .nav-toggle {
    display: none;
  }

  .overlay {
    display: none;
  }

}

